@import './_variable.scss';

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 32px;
  width: 100%;
  font-size: 10px;
  background: radial-gradient($customGray 60%, transparent);

  @media (min-width: $xs) {
    height: 60px;
    gap: 24px;
    font-size: 18px;
  }
}
